.dv-screen {
  height: 100%;
  width: 100%;
  .canvas-panel {
    position: relative;
    .preview-box {
      position: absolute;
    }
  }
}

.goback{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 8px 20px;
  position: absolute;
  z-index: 999;
  font-size: 20px;
}
.dv-screen .el-scrollbar__wrap {
  overflow-x: hidden;
}
