// 重置elementui中的样式
.el-input--mini{
  .el-input__inner{
    height: 24px;
    line-height: 24px;
  }
}
.el-input-number.is-controls-right .el-input__inner {
  padding-left: 0;
  padding-right: 20px;
  background-color: #32363c;
  border:0;
}
.el-input-number--mini .el-input-number__decrease, 
.el-input-number--mini .el-input-number__increase{
  width: 20px;
  background: #3d4045;
  color: #949494;
  border:0;
}
.el-input-number.is-controls-right .el-input-number__increase,
.el-input-number.is-controls-right .el-input-number__decrease,
.el-input__inner{
  border:0;
}
.el-textarea__inner{
  color: #dddddd;
  background-color: #404040;
  border: 1px solid  #454546;
}
.el-collapse-item__header{
  height: 34px;
  line-height: 34px;
}